<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CNCInfusion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <CNCInfusion.Properties.Settings>
            <setting name="ViewFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RapidLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RapidPoints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AxisLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AxisIndicator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastMachine" serializeAs="String">
                <value>Mill</value>
            </setting>
            <setting name="SetupFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ViewFormSize" serializeAs="String">
                <value>425, 475</value>
            </setting>
            <setting name="Virgin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrblPreprocesor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>200</value>
            </setting>
        </CNCInfusion.Properties.Settings>
    </userSettings>
</configuration>
